#user-manage-content{
    display: none;
}

.single-user{
    margin-top: 10px;
    display: flex;
    padding: 20px;
    border-radius: 5px 5px 5px 0px;
    justify-content: space-between;
    align-items:end;
}

.single-user:first-child{
    margin-top: 20px;
}

.single-user:nth-child(even){
    background-color: var(--color-dark-5);
}

.single-user:nth-child(odd){
    background-color: var(--color-dark-3);
}

.single-user > div{
    margin: 0px 10px;
    width: 20%;
}

.single-user label{
    color: var(--color-sub-text);
    font-style: italic;
}

.single-user p{
    font-size: 19px;
    color: rgb(224, 52, 124);
    overflow: hidden;
    text-overflow: ellipsis;
}

.single-user-tipo{
    text-align: end;
}

/* ACCOUNT FORM */

#account-form{
    display: flex;
    justify-content: space-between;
    width: 250px;
}

#account-form > div{
    padding: 5px;
}

.account-modify{
    background-color: var(--color-dark-3);
}

.account-modify label{
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    color: var(--color-sub-text);
}

.account-modify label:hover{
    color:  var(--color-white);
}
